:root {
  --main-font: "Roboto", sans-serif;
  --text-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skew-box {
  min-height: 70vh;
  background-color: rgb(1, 157, 196);
  transform: skewY(-40deg);
  transform-origin: top left;
}

@media (max-width: 380px) {
  .skew-box {
    min-height: 80vh;
  }
}

picture {
  position: absolute;
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  color: var(--text-color);
  position: absolute;
  font-weight: 100;
  transform: translate(5%, -100%);
  font-size: 4rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px;
  margin-top: 5px;
}

.about-me h3 {
  color: black;
  font-size: 4rem;
}

.about-me p {
  color: rgb(118, 118, 118);
  font-size: 1.5rem;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.links-logo {
  cursor: pointer;
  width: 20%;
  height: 20%;
  transition: transform 0.1s ease-in;
}

.links-logo:hover {
  transform: scale(110%);
}

main {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  width: 100%;
  text-align: center;
}

main h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
}

footer {
  min-height: 500px;
  background-color: rgb(1, 157, 196);
}
