:root {
  --main-font: "Roboto", sans-serif;
  --text-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skew-box {
  min-height: 70vh;
  background-color: rgb(1, 157, 196);
  transform: skewY(-40deg);
  transform-origin: top left;
}

figure {
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  color: var(--text-color);
  position: absolute;
  font-weight: 100;
  transform: translate(5%, -100%);
  font-size: 3.5rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif;
}

header h3 {
  visibility: hidden;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -150%;
  gap: 10px;
}

.about-me h4 {
  color: black;
  font-size: 3rem;
}

.about-me p {
  color: rgb(118, 118, 118);
  font-size: 1.5rem;
  padding: 0 10%;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.links-logo {
  cursor: pointer;
  width: 20%;
  height: 20%;
  transition: transform 0.1s ease-in;
}

.links-logo:hover {
  transform: scale(110%);
}

.projects {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  padding: 0 10%;
  gap: 30px;
  width: 100%;
  text-align: center;
}

main h3 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
}

.screenshot {
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
  margin-bottom: 5%;
}

.project {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 5%;
  text-align: left;
}

.project h4 {
  font-size: 1.5rem;
  font-weight: 600;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project-links {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.projects-logo {
  width: 50%;
  height: 50%;
  transition: transform 0.1s ease-in;
}

.projects-logo:hover {
  cursor: pointer;
  transform: scale(110%);
}
.description {
  color: rgb(95, 95, 95);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-height: 600px;
  background-color: rgb(1, 157, 196);
  color: var(--text-color);
}

footer h3 {
  text-align: center;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  text-align: center;
}

footer p {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

footer span {
  text-align: left;
  margin-bottom: 5%;
}

.address {
  margin-top: 5%;
}

@media (max-width: 380px) {
  .skew-box {
    min-height: 80vh;
  }

  .about-me {
    margin-top: -140%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  header {
    display: block;
  }

  .skew-box {
    transform: skewY(-11deg);
    transform-origin: top left;
    min-height: 35vh;
  }

  .about-me {
    display: block;
    position: relative;
    z-index: 1;
    margin: -35% auto 1px auto;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
    width: 80%;
  }

  .about-me h4 {
    padding-top: 10%;
    padding-right: 4%;
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
  }

  .about-me p {
    padding: 5%;
    color: rgb(118, 118, 118);
    font-size: 1.2rem;
  }

  figure {
    float: left;
    position: relative;
    margin: -10% 3% 2% -5%;
    width: 50%;
    box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  figcaption {
    position: absolute;
    bottom: 65%;
    left: 75%;
    font-size: 3rem;
    white-space: nowrap;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 10% 10% 10%;
  }

  main h3 {
    text-align: left;
    margin: 2% 10%;
  }
}

@media (min-width: 854px) and (max-width: 1024px) {
  header {
    min-height: 60vh;
  }

  figcaption {
    font-size: 4rem;
  }

  .skew-box {
    transform: skewY(-15deg);
    min-height: 45vh;
  }

  .about-me {
    margin-top: -45%;
  }

  .about-me h4 {
    font-size: 3rem;
  }

  .about-me p {
    font-size: 1.4rem;
  }
}
