:root {
  --main-font: "Roboto", sans-serif;
  --text-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skew-box {
  min-height: 70vh;
  background-color: rgb(1, 157, 196);
  transform: skewY(-40deg);
  transform-origin: top left;
}

picture {
  position: absolute;
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  color: var(--text-color);
  position: absolute;
  font-weight: 100;
  transform: translate(5%, -100%);
  font-size: 4rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px;
  margin-top: 5px;
}

.about-me h3 {
  color: black;
  font-size: 4rem;
}

.about-me p {
  color: rgb(118, 118, 118);
  font-size: 1.5rem;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.links-logo {
  cursor: pointer;
  width: 20%;
  height: 20%;
  transition: transform 0.1s ease-in;
}

.links-logo:hover {
  transform: scale(110%);
}

main {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  width: 100%;
  text-align: center;
}

main h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
}

.screenshot {
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
  margin-bottom: 5%;
}

.project {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 5%;
  text-align: left;
}

.project h4 {
  font-size: 1.5rem;
  font-weight: 600;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project-links {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.projects-logo {
  width: 50%;
  height: 50%;
  transition: transform 0.1s ease-in;
}

.projects-logo:hover {
  cursor: pointer;
  transform: scale(110%);
}
.description {
  color: rgb(95, 95, 95);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-height: 600px;
  background-color: rgb(1, 157, 196);
  color: var(--text-color);
}

footer h3 {
  text-align: center;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  text-align: center;
}

footer p {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

footer span {
  text-align: left;
  margin-bottom: 5%;
}

.address {
  margin-top: 5%;
}

@media (max-width: 380px) {
  .skew-box {
    min-height: 80vh;
  }
}

@media (min-width: 768px) {
  figcaption {
    visibility: hidden;
  }

  picture {
    width: 51%;
  }
}
