:root {
  --main-font: "Roboto", sans-serif;
  --section-color: rgb(1, 157, 196);
  --text-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skew-box {
  min-height: 70vh;
  background-color: var(--section-color);
  transform: skewY(-40deg);
  transform-origin: top left;
}

figure {
  margin: 30px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  transform: translate(5%, -100%);
  font-family: "Playfair Display", serif;
  font-size: 15vw;
  font-weight: 100;
  color: var(--text-color);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

header h3 {
  visibility: hidden;
}

.about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -70vh;
  gap: 10px;
}

.about-me h4 {
  font-size: 13vw;
  font-weight: 100;
  text-align: center;
  color: black;
}

.about-me p {
  font-size: 6vw;
  color: rgb(118, 118, 118);
  padding: 3% 10%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.links-logo {
  cursor: pointer;
  width: 20%;
  height: 100%;
  transition: transform 0.1s ease-in;
}

.links-logo:hover {
  transform: scale(110%);
}

.projects {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  width: 100%;
  padding: 0 10% 10% 10%;
  gap: 30px;
  text-align: center;
}

main h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(105%);
}

.screenshot {
  margin-bottom: 5%;
  box-shadow: 0 0 20px rgba(87, 87, 87, 0.5);
}

.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 5%;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

.project h4 {
  font-size: 7vw;
  font-weight: 600;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project p {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.project-links {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.projects-logo {
  width: 50%;
  height: 50%;
  transition: transform 0.1s ease-in;
}

.projects-logo:hover {
  cursor: pointer;
  transform: scale(110%);
}

.description {
  color: rgb(95, 95, 95);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 600px;
  background-color: rgb(1, 157, 196);
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: var(--text-color);
}

.contact-info h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 11vw;
  text-align: center;
}

.contact-info p {
  font-size: 6vw;
  font-weight: 100;
  text-align: center;
  margin: 5% 0;
}

.contact-info span {
  margin-bottom: 5%;
  text-align: left;
}

footer figure {
  margin: 10% 0 0 0;
  width: 100%;
  box-shadow: unset;
}

.address {
  margin-top: 5%;
}

@media (max-width: 380px) {
  .skew-box {
    min-height: 80vh;
  }

  .about-me {
    margin-top: -80vh;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  header {
    display: block;
  }

  .skew-box {
    min-height: 35vh;
    transform: skewY(-11deg);
    transform-origin: top left;
  }

  .about-me {
    display: block;
    position: relative;
    z-index: 1;
    margin: -25vh auto auto auto;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 50vw;
    box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
  }

  .about-me h4 {
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
    padding-top: 10%;
    padding-right: 4%;
  }

  .about-me p {
    font-size: 2vw;
    padding: 5%;
    color: rgb(118, 118, 118);
  }

  figure {
    float: left;
    position: relative;
    margin: -10% 3% 2% -5%;
    width: 50%;
    box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  figcaption {
    position: absolute;
    bottom: 65%;
    left: 75%;
    font-size: 6vw;
    white-space: nowrap;
  }

  header .links {
    visibility: hidden;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 10% 10% 10%;
  }

  .project h4 {
    font-size: 3vw;
  }

  main h3 {
    text-align: left;
    margin: 2% 10%;
    font-size: 5vw;
  }

  footer {
    flex-wrap: nowrap;
  }

  .contact-info {
    justify-content: center;
  }

  .contact-info h3,
  .contact-info p {
    text-align: left;
    font-size: 2.5vw;
  }

  .contact-info h3 {
    font-size: 6vw;
  }

  .contact-info .links {
    width: 50%;
    height: 10%;
    justify-content: start;
    gap: 10px;
  }

  .contact-info .links-logo {
    width: 60px;
    height: 60px;
  }

  footer figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
  }
}

@media (min-width: 1024px) {
  .skew-box {
    min-height: 45vh;
    background-color: rgb(1, 157, 196);
    transform: skewY(-7deg);
    transform-origin: top left;
  }

  .about-me {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 2fr;
    margin: -35vh 5% 5% 7%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(87, 87, 87, 0.8);
  }

  .about-me-info {
    margin: 5% 3% 5% 15%;
  }

  .about-me h4 {
    text-align: left;
    font-size: 3vw;
    margin-bottom: 5%;
  }

  .about-me p {
    padding: 0;
    font-size: 1.8vw;
  }

  .about-me figure {
    width: 100%;
    max-height: max-content;
    transform: scale(130%);
  }

  figcaption {
    font-size: 3.4vw;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    margin-top: 10px;
  }

  .links-logo {
    width: 5%;
    transition: transform 0.1s ease-in;
  }

  main h3 {
    font-size: 4vw;
    margin: 0 5% 1% 5%;
    text-align: left;
  }

  .projects {
    padding: 0 5% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .project h4 {
    font-size: 2vw;
  }

  .project-links {
    justify-content: end;
    width: 100%;
  }

  .projects-logo {
    width: 25%;
  }

  footer {
    flex-wrap: nowrap;
  }

  footer figure {
    display: flex;
    align-items: center;
    margin: 5%;
  }

  .contact-info h3,
  .contact-info p {
    text-align: left;
    font-size: 3vw;
  }

  .contact-info .links {
    justify-content: flex-start;
  }

  .contact-info .links-logo {
    width: 10%;
  }
}

@media (max-height: 450px) {
  .about-me {
    margin-top: -10vh;
  }
}
